<div class="grid-container">
  <!-- row 1-->
  <div id="g1" class="text-card">
    <h2>The Life Insurance Settlement Market</h2>
    <p>
      A Life Settlement involves selling an existing life insurance policy to a
      third party—a person or an entity other than the company that issued the
      policy—for more than the policy's cash surrender value, but less than the
      net death benefit.
    </p>
  </div>
  <div class="">
    <img
      class="img-fluid"
      src="../../../assets/img/grid/money-counting.jpg"
      alt=""
    />
  </div>
  <!-- row 2   slide 4-->
  <div>
    <img class="img-fluid" src="../../../assets/img/grid/chess.jpg" alt="" />
  </div>
  <div class="text-card">
    <h2>The Opportunity</h2>
    <p>
      Though most Life Settlement applicants are seeking relief from escalating
      premium costs in their latter years, more that 20% of policy owners go
      through the lengthy sales process, and for various reasons, do not accept
      a cash offer. This non-sale creates an unserved, yet motivated, market for
      the Superior Life premium finance product. We estimate the market to be
      greater than $1B in face value per year with an average of $50M in annual
      premium.
    </p>
    <p>
      <i
        >Life Settlements brokers will now have an additional, commercially
        competitive, option to offer their clients who don't feel the Life
        Settlement offer is acceptable, but who still want to resolve the cash
        flow issues of paying increased policy premiums at a time when their
        income is fixed.
      </i>
    </p>
  </div>
  <!-- row 3 full width  slide 5-->
  <div class="cta text-white two-col">
    <h2 class="text-capitalize">the premium finance solution</h2>
    <h3>Market Need:</h3>
    <ul>
      <li>New option for all Life Settlement customers</li>
      <li>
        Extremely attractive option for the 20%+ policy holders who choose to
        keep the policy after their advisors have gone to the market and
        presented offers
      </li>
    </ul>
    <h3>5 Year Asset-Backed Loan:</h3>
    <ul>
      <li>
        Loans are backed by the life insurance policies issued by top carriers
      </li>
      <li>
        Premium finance loans made based on 50% LTV of current Life Settlement
        market high bid
      </li>
      <li>No further policy premium outlay for the loan period</li>
      <li>Interest is accrued</li>
      <li>Policy value is certain</li>
    </ul>
  </div>

  <!-- row 4 slide 6-->
  <div class="text-card">
    <h2 class="">Two Potential Outcomes</h2>
    <p>
      Policyholder lives to end of term, loan is paid back with interest, or
      policy is sold on the secondary market to satisfy the loan
    </p>
    <p>
      Policyholder dies, loan is paid back with interest and beneficiaries
      collect remainder of death benefit
    </p>
  </div>
  <div class="d-none d-md-block">
    <img
      class="img-fluid"
      src="../../../assets/img/grid/office-room.jpg"
      alt=""
    />
  </div>
  <!-- row 5 slide 7-->
  <div>
    <img
      class="img-fluid"
      src="../../../assets/img/grid/laptop-dashboard.jpg"
      alt=""
    />
  </div>
  <div class="text-card">
    <h2 class="text-capitalize">a needed solution for the advisor network</h2>
    <p>
      An additional option for the Financial Advisors and Life Settlements
      Brokers who invest considerable time and capital upfront to market the
      client's policy, and do not recoup the costs if the policy is not sold
    </p>
    <h3>Sunk Cost in the Form of:</h3>
    <ul>
      <li>Time and money in marketing the policy to institutional investors</li>
      <li>Time and money in acquiring medical records</li>
      <li>Time and money in acquiring new life expectancy reports</li>
      <li>Time in acquiring health exams</li>
      <li>Time in acquiring policy illustrations</li>
    </ul>
  </div>
</div>
