@import "../../../assets/scss/_globals.scss";
@media (max-width: 767px) {
  .grid-container {
    display: flex;
    flex-direction: column;
    @each $i, $reorder in (1: 2, 2: 1, 3: 3, 4: 4, 5: 5, 6: 6, 7: 7, 8: 8, 9: 9)
    {
      :nth-child(#{$i}) {
        order: $reorder;
      }
    }
  }

  .text-card {
    padding-top: $spacer;
    padding-bottom: $spacer;
  }
}

$colCount: 2;
@media (min-width: 768px) {
  .grid-container {
    display: grid;
    grid-template-columns: repeat($colCount, 1fr);
  }
}

:host {
  .cta {
    padding-left: $spacer;
    padding-right: $spacer;
  }
}

.two-col {
  grid-column: 1 / #{($colCount + 1)};
}

.w-1fr {
  width: 1fr;
}

.text-card {
  align-self: center;
  padding-left: $spacer;
  padding-right: $spacer;
}
