$color_1: #444444;
$color_2: #cc1616;
$color_3: #e82d2d;
$color_4: #fff;
$color_5: rgba(255, 255, 255, 0.6);
$color_6: #191919;
$color_7: #eee;
$color_8: #f4f4f4;
$color_9: #ed5b5b;
$color_10: #aaaaaa;
$color_11: #4c4c4c;
$color_12: #333333;
$color_13: #bababa;
$color_14: #ccc;
$color_15: rgba(255, 255, 255, 0.58);
$color_16: #919191;
$color_17: #777777;
$color_18: #eb4444;
$font-family_1: "Open Sans", sans-serif;
$font-family_2: "Raleway", sans-serif;
$font-family_3: "Poppins", sans-serif;
$background-color_1: #fff;
$background-color_2: #cc1616;
$border-color_1: #cc1616;
$border-top-color_1: #efefef;
$border-top-color_2: #eee;

$spacer: 1rem;
