<section id="team" class="team">
  <div class="container">
    <div class="section-title">
      <span>Team</span>
      <h2>Team</h2>
      <p>
        Sit sint consectetur velit quisquam cupiditate impedit suscipit alias
      </p>
    </div>

    <div class="row">
      <div
        class="col-lg-4 col-md-6 d-flex align-items-stretch aos-init"
        data-aos="zoom-in"
      >
        <div class="member">
          <img src="assets/img/team/Mark_Gelnaw.jpg" alt="" />
          <h4>Mark Gelnaw</h4>
          <span>Former COO of Deutsche Bank</span>
          <p>35 yr. History Financial Services Professional</p>
          <div class="social d-none">
            <a href=""><i class="bi bi-twitter"></i></a>
            <a href=""><i class="bi bi-facebook"></i></a>
            <a href=""><i class="bi bi-instagram"></i></a>
            <a href=""><i class="bi bi-linkedin"></i></a>
          </div>
        </div>
      </div>

      <div
        class="col-lg-4 col-md-6 d-flex align-items-stretch aos-init"
        data-aos="zoom-in"
      >
        <div class="member">
          <img src="assets/img/team/Steve_Stanton.jpg" alt="" />
          <h4>Steve Stanton</h4>
          <span>Domain Expert In Life Insurance</span>
          <p>Premium Finance, and Life Settlement Transactions</p>
          <div class="social d-none">
            <a href=""><i class="bi bi-twitter"></i></a>
            <a href=""><i class="bi bi-facebook"></i></a>
            <a href=""><i class="bi bi-instagram"></i></a>
            <a href=""><i class="bi bi-linkedin"></i></a>
          </div>
        </div>
      </div>

      <div
        class="col-lg-4 col-md-6 d-flex align-items-stretch aos-init"
        data-aos="zoom-in"
      >
        <div class="member">
          <img src="assets/img/team/team-3.jpg" alt="" />
          <h4>Scott Rhodenizer</h4>
          <span>Former Managing Director of Deutsche Bank</span>
          <p>25+ Years Institutional Investments and Portfolio Management</p>
        </div>
      </div>

      <div
        class="col-lg-4 col-md-6 d-flex align-items-stretch aos-init"
        data-aos="zoom-in"
      >
        <div class="member">
          <img src="assets/img/team/Geoff_Webster.jpg" alt="" />
          <h4>Geoff Webster</h4>
          <span>CFO of Castle Hill Registered BD FINRA</span>
          <p>Experience In Life Settlement Securities And Longevity Risk</p>
        </div>
      </div>

      <div
        class="col-lg-4 col-md-6 d-flex align-items-stretch aos-init"
        data-aos="zoom-in"
      >
        <div class="member">
          <img src="assets/img/team/Steven_Arenson.jpg" alt="" />
          <h4>Steven Arenson</h4>
          <span> Strategic Advisor </span>
          <p>
            30+ Years Institutional Life Settlement Marketing and Sales
            Experience
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
