<!-- ======= About Section ======= -->
<section id="about" class="about">
  <div class="container">
    <div class="row">
      <div
        class="col-lg-6 order-1 order-lg-2 aos-init aos-animate"
        data-aos="fade-left"
      >
        <img src="assets/img/about.jpg" class="img-fluid" alt="" />
      </div>
      <div
        class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content aos-init aos-animate"
        data-aos="fade-right"
      >
        <h2>Introduction</h2>
        <h3>
          Superior Life Finance has developed an innovative life insurance
          premium financing platform with three key attributes:
        </h3>
        <ol>
          <li>
            Asset-backed financing product with competitive unlevered returns
          </li>
          <li>
            New premium financing option for life insurance policy owners who
            are considering a Life Settlement
          </li>
          <li>Strong Demand and little to no competition</li>
        </ol>
        <p>
          <i class="">
            "Capitalizing on a market need within the $5.3B annual Life
            Settlement industry"
          </i>
        </p>
        <p class="text-end">
          <sub> 2021 Conning Report </sub>
        </p>
      </div>
    </div>
  </div>
</section>

<!-- End About Section -->
