@import "assets/scss/_globals.scss";
@import "../node_modules/bootstrap/scss/bootstrap";

@-webkit-keyframes animate-preloader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate-preloader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@-webkit-keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

body {
  font-family: $font-family_1;
  color: $color_1;
}

a {
  color: $color_2;
  text-decoration: none;
  &:hover {
    color: $color_3;
    text-decoration: none;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-family_2;
}

.back-to-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 996;
  background: #cc1616;
  width: 40px;
  height: 40px;
  transition: all 0.4s;
  i {
    font-size: 28px;
    color: $color_4;
    line-height: 0;
  }
  &:hover {
    background: #e72323;
    color: $color_4;
  }
}
.back-to-top.active {
  visibility: visible;
  opacity: 1;
}
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  overflow: hidden;
  background: #fff;
  &:before {
    content: "";
    position: fixed;
    top: calc(50% - 30px);
    left: calc(50% - 30px);
    border: 6px solid #cc1616;
    border-top-color: $border-top-color_1;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    -webkit-animation: animate-preloader 1s linear infinite;
    animation: animate-preloader 1s linear infinite;
  }
}
#topbar {
  background: #191919;
  font-size: 15px;
  height: 40px;
  padding: 0;
  color: $color_5;
  .contact-info {
    a {
      line-height: 0;
      color: $color_5;
      transition: 0.3s;
      &:hover {
        color: $color_4;
      }
    }
    i {
      color: $color_2;
      line-height: 0;
      margin-right: 5px;
    }
    .phone-icon {
      margin-left: 15px;
    }
  }
  .social-links {
    a {
      color: $color_5;
      padding: 4px 12px;
      display: inline-block;
      line-height: 1px;
      transition: 0.3s;
      &:hover {
        color: $color_4;
      }
    }
  }
}
#header {
  background: rgba(25, 25, 25, 0.95);
  transition: all 0.5s;
  z-index: 997;
  height: 70px;
  .logo {
    font-size: 30px;
    margin: 0;
    padding: 0;
    line-height: 1;
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;
    a {
      color: $color_4;
    }
    img {
      max-height: 40px;
    }
  }
}

#header.fixed-top {
  background: #191919;
}

.scrolled-offset {
  margin-top: 70px;
}

.navbar {
  padding: 0;
  ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    align-items: center;
  }
  li {
    position: relative;
    &:hover {
      > a {
        background: #cc1616;
      }
    }
  }
  > ul {
    > li {
      margin-left: 5px;
    }
  }
  a {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px 15px 24px 15px;
    font-size: 14px;
    color: $color_4;
    white-space: nowrap;
    transition: 0.3s;
    &:focus {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 25px 15px 24px 15px;
      font-size: 14px;
      color: $color_4;
      white-space: nowrap;
      transition: 0.3s;
      i {
        font-size: 12px;
        line-height: 0;
        margin-left: 5px;
      }
    }
    i {
      font-size: 12px;
      line-height: 0;
      margin-left: 5px;
    }
    &:hover {
      background: #cc1616;
    }
  }
  .active {
    background: #cc1616;
    &:focus {
      background: #cc1616;
    }
  }
  .dropdown {
    ul {
      display: block;
      position: absolute;
      left: 0;
      top: calc(100% + 30px);
      margin: 0;
      padding: 10px 0;
      z-index: 99;
      opacity: 0;
      visibility: hidden;
      background: #fff;
      box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
      transition: 0.3s;
      li {
        min-width: 200px;
        &:hover {
          > a {
            color: $color_4;
          }
        }
      }
      a {
        padding: 10px 20px;
        color: $color_6;
        i {
          font-size: 12px;
        }
        &:hover {
          color: $color_4;
        }
      }
      .active {
        &:hover {
          color: $color_4;
        }
      }
    }
    &:hover {
      > ul {
        opacity: 1;
        top: 100%;
        visibility: visible;
      }
    }
    .dropdown {
      ul {
        top: 0;
        left: calc(100% - 30px);
        visibility: hidden;
      }
      &:hover {
        > ul {
          opacity: 1;
          top: 0;
          left: 100%;
          visibility: visible;
        }
      }
    }
  }
}

.mobile-nav-toggle {
  color: $color_4;
  font-size: 28px;
  cursor: pointer;
  display: none;
  line-height: 0;
  transition: 0.5s;
}

.mobile-nav-toggle.bi-x {
  color: $color_2;
}

.navbar-mobile {
  position: fixed;
  overflow: hidden;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.9);
  transition: 0.3s;
  z-index: 999;
  .mobile-nav-toggle {
    position: absolute;
    top: 15px;
    right: 15px;
  }
  &.navbar > ul {
    display: block;
    position: absolute;
    top: 55px;
    right: 15px;
    bottom: 15px;
    left: 15px;
    padding: 10px 0;
    background-color: $background-color_1;
    overflow-y: auto;
    transition: 0.3s;
  }
  a {
    padding: 10px 20px;
    font-size: 15px;
    color: $color_6;
    &:focus {
      padding: 10px 20px;
      font-size: 15px;
      color: $color_6;
    }
    &:hover {
      color: $color_2;
      background: none;
    }
  }
  .active {
    color: $color_2;
    background: none;
  }
  li {
    &:hover {
      > a {
        color: $color_2;
        background: none;
      }
    }
  }
  .getstarted {
    margin: 15px;
    &:focus {
      margin: 15px;
    }
  }
  .dropdown {
    ul {
      position: static;
      display: none;
      margin: 10px 20px;
      padding: 10px 0;
      z-index: 99;
      opacity: 1;
      visibility: visible;
      background: #fff;
      box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
      li {
        min-width: 200px;
        &:hover {
          > a {
            color: $color_2;
          }
        }
      }
      a {
        padding: 10px 20px;
        i {
          font-size: 12px;
        }
        &:hover {
          color: $color_2;
        }
      }
      .active {
        &:hover {
          color: $color_2;
        }
      }
    }
    > .dropdown-active {
      display: block;
    }
  }
}

#hero {
  width: 100%;
  height: calc(100vh - 110px);
  background: url("assets/img/hero-bg.jpg") top center;
  background-size: cover;
  position: relative;
  &:before {
    content: "";
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
  }
  h1 {
    margin: 0 0 10px 0;
    font-size: 48px;
    font-weight: 700;
    line-height: 56px;
    text-transform: uppercase;
    color: $color_4;
  }
  h2 {
    color: $color_7;
    margin-bottom: 30px;
    font-size: 24px;
  }
  .btn-get-started {
    font-family: $font-family_2;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.5px;
    display: inline-block;
    padding: 10px 28px;
    transition: 0.5s;
    border: 2px solid #fff;
    color: $color_4;
    &:hover {
      background: #cc1616;
      border-color: $border-color_1;
    }
  }
}

section {
  padding: 60px 0;
  overflow: hidden;
}

.section-title {
  text-align: center;
  padding: 30px 0;
  position: relative;
  h2 {
    font-size: 32px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 20px;
    padding-bottom: 0;
    color: $color_6;
    position: relative;
    z-index: 2;
  }
  span {
    position: absolute;
    top: 30px;
    color: $color_8;
    left: 0;
    right: 0;
    z-index: 1;
    font-weight: 700;
    font-size: 52px;
    text-transform: uppercase;
    line-height: 0;
  }
  p {
    margin-bottom: 0;
    position: relative;
    z-index: 2;
  }
}
.about {
  .content {
    h3 {
      font-weight: 600;
      font-size: 26px;
    }
    ul {
      list-style: none;
      padding: 0;
      li {
        padding-bottom: 10px;
      }
      i {
        font-size: 20px;
        padding-right: 4px;
        color: $color_2;
      }
    }
    p {
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

.why-us {
  padding-top: 10px;
  .box {
    padding: 50px 30px;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
    transition: all ease-in-out 0.3s;
    span {
      display: block;
      font-size: 28px;
      font-weight: 700;
      color: $color_9;
    }
    h4 {
      font-size: 24px;
      font-weight: 600;
      padding: 0;
      margin: 20px 0;
      color: $color_6;
    }
    p {
      color: $color_10;
      font-size: 15px;
      margin: 0;
      padding: 0;
    }
    &:hover {
      background: #cc1616;
      padding: 30px 30px 70px 30px;
      box-shadow: 10px 15px 30px rgba(0, 0, 0, 0.18);
      span {
        color: $color_4;
      }
      h4 {
        color: $color_4;
      }
      p {
        color: $color_4;
      }
    }
  }
}
.clients {
  background: #f2f2f2;
  padding: 15px 0;
  text-align: center;
  img {
    width: 50%;
    filter: grayscale(100);
    transition: all 0.4s ease-in-out;
    display: inline-block;
    padding: 15px 0;
    &:hover {
      filter: none;
      transform: scale(1.2);
    }
  }
}
.services {
  .icon-box {
    text-align: center;
    padding: 80px 20px;
    transition: all ease-in-out 0.3s;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
    .icon {
      margin: 0 auto;
      width: 64px;
      height: 64px;
      background: #cc1616;
      transition: all 0.3s ease-out 0s;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 20px;
      transform-style: preserve-3d;
      i {
        color: $color_4;
        font-size: 28px;
      }
      &::before {
        position: absolute;
        content: "";
        left: -8px;
        top: -8px;
        height: 100%;
        width: 100%;
        background: #fce5e5;
        transition: all 0.3s ease-out 0s;
        transform: translateZ(-1px);
      }
    }
    h4 {
      font-weight: 700;
      margin-bottom: 15px;
      font-size: 24px;
      a {
        color: $color_6;
      }
    }
    p {
      line-height: 24px;
      font-size: 14px;
      margin-bottom: 0;
    }
    &:hover {
      background: #cc1616;
      border-color: $border-color_1;
      padding: 70px 20px 90px 20px;
      .icon {
        background: #fff;
        i {
          color: $color_2;
        }
        &::before {
          background: #e82d2d;
        }
      }
      h4 {
        a {
          color: $color_4;
        }
      }
      p {
        color: $color_4;
      }
    }
  }
}
.cta {
  background: linear-gradient(rgba(2, 2, 2, 0.5), rgba(0, 0, 0, 0.5)),
    url("assets/img/cta-bg.jpg") fixed center center;
  background-size: cover;
  padding: 120px 0;
  h3 {
    color: $color_4;
    font-size: 28px;
    font-weight: 700;
  }
  p {
    color: $color_4;
  }
  .cta-btn {
    font-family: $font-family_2;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 10px 28px;
    transition: 0.5s;
    margin-top: 10px;
    border: 2px solid #fff;
    color: $color_4;
    &:hover {
      background: #cc1616;
      border: 2px solid #cc1616;
    }
  }
}
.portfolio {
  #portfolio-flters {
    padding: 0;
    margin: 0 auto 25px auto;
    list-style: none;
    text-align: center;
    border-radius: 50px;
    li {
      cursor: pointer;
      display: inline-block;
      padding: 10px 15px;
      font-size: 15px;
      font-weight: 500;
      line-height: 1;
      text-transform: uppercase;
      color: $color_1;
      margin-bottom: 5px;
      transition: all 0.3s ease-in-out;
      font-family: $font-family_3;
      &:hover {
        color: $color_3;
      }
      &:last-child {
        margin-right: 0;
      }
    }
    li.filter-active {
      color: $color_3;
    }
  }
  .portfolio-item {
    margin-bottom: 30px;
    .portfolio-info {
      opacity: 0;
      position: absolute;
      left: 30px;
      right: 30px;
      bottom: 0;
      z-index: 3;
      transition: all ease-in-out 0.3s;
      background: rgba(255, 255, 255, 0.9);
      padding: 15px;
      h4 {
        font-size: 18px;
        color: $color_4;
        font-weight: 600;
        color: $color_6;
      }
      p {
        color: $color_11;
        font-size: 14px;
        margin-bottom: 0;
      }
      .preview-link {
        position: absolute;
        right: 40px;
        font-size: 24px;
        top: calc(50% - 18px);
        color: $color_12;
        &:hover {
          color: $color_2;
        }
      }
      .details-link {
        position: absolute;
        right: 40px;
        font-size: 24px;
        top: calc(50% - 18px);
        color: $color_12;
        right: 10px;
        &:hover {
          color: $color_2;
        }
      }
    }
    .portfolio-links {
      opacity: 0;
      left: 0;
      right: 0;
      text-align: center;
      z-index: 3;
      position: absolute;
      transition: all ease-in-out 0.3s;
      a {
        color: $color_4;
        margin: 0 2px;
        font-size: 28px;
        display: inline-block;
        transition: 0.3s;
        &:hover {
          color: $color_3;
        }
      }
    }
    &:hover {
      .portfolio-info {
        opacity: 1;
        bottom: 20px;
      }
    }
  }
}
.portfolio-details {
  padding-top: 40px;
  .portfolio-details-slider {
    img {
      width: 100%;
    }
    .swiper-pagination {
      margin-top: 20px;
      position: relative;
      .swiper-pagination-bullet {
        width: 12px;
        height: 12px;
        background-color: $background-color_1;
        opacity: 1;
        border: 1px solid #cc1616;
      }
      .swiper-pagination-bullet-active {
        background-color: $background-color_2;
      }
    }
  }
  .portfolio-info {
    padding: 30px;
    box-shadow: 0px 0 30px rgba(25, 25, 25, 0.08);
    h3 {
      font-size: 22px;
      font-weight: 700;
      margin-bottom: 20px;
      padding-bottom: 20px;
      border-bottom: 1px solid #eee;
    }
    ul {
      list-style: none;
      padding: 0;
      font-size: 15px;
      li {
        + {
          li {
            margin-top: 10px;
          }
        }
      }
    }
  }
  .portfolio-description {
    padding-top: 30px;
    h2 {
      font-size: 26px;
      font-weight: 700;
      margin-bottom: 20px;
    }
    p {
      padding: 0;
    }
  }
}
.pricing {
  .box {
    padding: 20px;
    background: #f9f9f9;
    text-align: center;
    border-radius: 8px;
    position: relative;
    overflow: hidden;
    h3 {
      font-weight: 400;
      padding: 15px;
      font-size: 18px;
      text-transform: uppercase;
      font-weight: 600;
      color: $color_6;
    }
    h4 {
      font-size: 42px;
      color: $color_2;
      font-weight: 500;
      font-family: $font-family_1;
      margin-bottom: 20px;
      sup {
        font-size: 20px;
        top: -15px;
        left: -3px;
      }
      span {
        color: $color_13;
        font-size: 16px;
        font-weight: 300;
      }
    }
    ul {
      padding: 0;
      list-style: none;
      color: $color_6;
      text-align: center;
      line-height: 20px;
      font-size: 14px;
      li {
        padding-bottom: 16px;
      }
      i {
        color: $color_2;
        font-size: 18px;
        padding-right: 4px;
      }
      .na {
        color: $color_14;
        text-decoration: line-through;
      }
    }
    .btn-wrap {
      padding: 15px;
      text-align: center;
    }
    .btn-buy {
      background: #cc1616;
      display: inline-block;
      padding: 10px 40px;
      color: $color_4;
      transition: none;
      font-size: 14px;
      font-weight: 400;
      font-family: $font-family_2;
      font-weight: 600;
      transition: 0.3s;
      &:hover {
        background: #e82d2d;
      }
    }
  }
  .featured {
    background: #cc1616;
    box-shadow: none;
    color: $color_4;
    h3 {
      color: $color_4;
    }
    h4 {
      color: $color_4;
      span {
        color: $color_15;
      }
    }
    ul {
      color: $color_4;
      li {
        color: $color_4;
      }
      .na {
        color: $color_4;
      }
    }
    .btn-wrap {
      padding: 15px;
      text-align: center;
    }
    .btn-buy {
      background: rgba(255, 255, 255, 0.2);
      &:hover {
        background: #fff;
        color: $color_2;
      }
    }
  }
}

.contact {
  .info-box {
    color: $color_1;
    text-align: center;
    box-shadow: 0 0 30px rgba(214, 215, 216, 0.6);
    padding: 20px 0 30px 0;
    i {
      font-size: 32px;
      color: $color_2;
      border-radius: 50%;
      padding: 8px;
      border: 2px dotted #f5a0a0;
    }
    h3 {
      font-size: 20px;
      color: $color_17;
      font-weight: 700;
      margin: 10px 0;
    }
    p {
      padding: 0;
      line-height: 24px;
      font-size: 14px;
      margin-bottom: 0;
    }
  }
  .php-email-form {
    box-shadow: 0 0 30px rgba(214, 215, 216, 0.6);
    padding: 30px;
    .error-message {
      display: none;
      color: $color_4;
      background: #ed3c0d;
      text-align: left;
      padding: 15px;
      font-weight: 600;
      br {
        + {
          br {
            margin-top: 25px;
          }
        }
      }
    }
    .sent-message {
      display: none;
      color: $color_4;
      background: #18d26e;
      text-align: center;
      padding: 15px;
      font-weight: 600;
    }
    .loading {
      display: none;
      background: #fff;
      text-align: center;
      padding: 15px;
      &:before {
        content: "";
        display: inline-block;
        border-radius: 50%;
        width: 24px;
        height: 24px;
        margin: 0 10px -6px 0;
        border: 3px solid #18d26e;
        border-top-color: $border-top-color_2;
        -webkit-animation: animate-loading 1s linear infinite;
        animation: animate-loading 1s linear infinite;
      }
    }
    input {
      border-radius: 0;
      box-shadow: none;
      font-size: 14px;
      padding: 10px 15px;
      &::focus {
        background-color: $background-color_2;
      }
    }
    textarea {
      border-radius: 0;
      box-shadow: none;
      font-size: 14px;
      padding: 12px 15px;
      &::focus {
        background-color: $background-color_2;
      }
    }
    button[type="submit"] {
      background: #cc1616;
      border: 0;
      padding: 10px 24px;
      color: $color_4;
      transition: 0.4s;
      &:hover {
        background: #e82d2d;
      }
    }
  }
}
.breadcrumbs {
  padding: 15px 0;
  background: #efefef;
  h2 {
    font-size: 26px;
    font-weight: 600;
  }
  ol {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0 0 10px 0;
    margin: 0;
    font-size: 14px;
    li {
      + {
        li {
          padding-left: 10px;
          &::before {
            display: inline-block;
            padding-right: 10px;
            color: $color_12;
            content: "/";
          }
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  [data-aos-delay] {
    transition-delay: 0 !important;
  }
}

@media (max-width: 1366px) {
  .navbar {
    .dropdown {
      .dropdown {
        ul {
          left: -90%;
        }
        &:hover {
          > ul {
            left: -100%;
          }
        }
      }
    }
  }
}

@media (max-width: 991px) {
  .mobile-nav-toggle {
    display: block;
  }
  .navbar {
    ul {
      display: none;
    }
  }
}

@media (min-width: 1024px) {
  #hero {
    background-attachment: fixed;
  }
}

@media (max-width: 768px) {
  #hero {
    text-align: center;
    .container {
      padding-top: 40px;
    }
    h1 {
      font-size: 28px;
      line-height: 36px;
    }
    h2 {
      font-size: 18px;
      line-height: 24px;
      margin-bottom: 30px;
    }
  }
  .clients {
    img {
      width: 40%;
    }
  }
}

@media (max-width: 575px) {
  .section-title {
    h2 {
      font-size: 28px;
      margin-bottom: 15px;
    }
    span {
      font-size: 38px;
    }
  }
  #footer {
    .footer-top {
      .footer-info {
        margin: -20px 0 30px 0;
      }
    }
  }
}

@import "assets/scss/_position.scss";
@import "../node_modules/bootstrap-icons/font/bootstrap-icons.scss";
